

<br/><br/>

<app-message></app-message>

<div class="container ">
    <h1 class="text-center"> All Available Books for Borrow</h1>
    <app-book-transaction-template *ngFor="let i of avaliableBooksList" 
      [byPerson]="i.BookBorrower"
      [shareOrRequest]="SharedBy"
      [borrowOrHelp]="Borrow"
      [bookName] = "i.BookName"
      [author] = "i.BookAuthor"
      [postTime] = "i.PostDate"
      [expectReturnTime]  = "i.ExpectReturnTime"
      [description]  = "i.BookDescription"
      [cssButton] = "CssButton"
      [cssText] = "CssText"
      [isLogin] = 'IsLogin'
      >
    </app-book-transaction-template>

</div>