<div class="row z-depth-1 rounded m-2">
  <div class="col-2 ">
    <img class="d-flex avatar-3 p-2 mx-auto w-100" src="../../../assets/default_avatar.jpg" alt="Generic placeholder image">
  </div>
  <div class="col-10 row h6 bold {{cssText}}">
      <div class="col-12 pt-3"></div>
      <div class="col-4 ">User Name</div> <div class="col-8 ">{{tUsername}}</div>
      <div class="col-4 ">Nick Name</div> <div class="col-8 ">{{tNickname}}</div>
      <br/>
      <div class="col-4 ">Campus</div> <div class="col-8 ">{{tCampus}}</div>
      <div class="col-4 ">Badge</div> <div class="col-8 ">{{tBadge}}</div>
      <div class="col-4 ">Score</div> <div class="col-8 ">{{tScore}}</div>
      <br/>
      <div class="col-4 ">Lend Count</div> <div class="col-8 ">{{tLendCount}}</div>
      <div class="col-4 ">Borrow Count</div> <div class="col-8 ">{{tBorrowCount}}</div>
      <div class="col-4 ">Post Count</div> <div class="col-8 ">{{tPostCount}}</div>
      <div class="col-4 ">Request Count</div> <div class="col-8 ">{{tRequestCount}}</div>
  </div>
</div>