<div class="row z-depth-1 rounded m-1">
    <div class="row h6 bold {{cssText}}">
        <div class="col-12 pt-2"></div>
        <div class="col-4 ">Book Name</div> <div class="col-8 ">{{bookName}}</div>
        <div class="col-4 ">Author</div> <div class="col-8 ">{{bookAuthor}}</div> 
        <div class="col-4 ">Post Expire Time</div> <div class="col-8 ">{{postExpire}}</div> 
        <div class="col-4 ">Expect Return Time</div> <div class="col-8 ">{{expectReturn}}</div> 
        <div class="col-4 ">Status</div><div class="col-8">{{bookStatus}}</div>
        <!-- >div class="col-4 " *ngIf="">Requesters</div> <div class="col-4 " *ngIf="">{{testOwner}}</div>
        <div class="col-4 " *ngIf="">
          <button color="indigo" outline="true" mdbBtn type="button" size="sm" mdbWavesEffect>See All Requester</button>
        </div-->
    </div>
  </div>