<div class="row z-depth-1 rounded m-1">
    <div class="row h6 bold indigo-text">
        <div class="col-12 pt-2"></div>
        <div class="col-4 ">Book Name</div> <div class="col-8 ">Harry Porter and Some Good Catherine</div>
        <div class="col-4 ">Author</div> <div class="col-8 ">Tom Garson</div> 
        <div class="col-4 ">Post Time</div> <div class="col-8 ">2018-02-15</div> 
        <div class="col-4 ">Expect Return Time</div> <div class="col-8 ">2018-09-12</div> 
        <div class="col-4">Status</div><div class="col-8">Post</div>
        <div class="col-4 " *ngIf="">Requesters</div> <div class="col-4 " *ngIf="">{{testOwner}}</div>
        <div class="col-4" *ngIf="">
          <button color="indigo" outline="true" mdbBtn type="button" size="sm" mdbWavesEffect>See All Requester</button>
        </div>
    </div>
  </div>