<!--Navbar-->
<mdb-navbar id="campusBookShareNavbar" SideClass="navbar fixed-top navbar-expand-lg navbar-dark peach-gradient">

    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" routerLink=''>
            <img src="../../../assets/logo.png" height="30" alt="logo">
        </a>
    </mdb-navbar-brand>
    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/lendbooks" mdbWavesEffect>Share Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/findbooks" mdbWavesEffect>Find Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" routerLink="/requestbooklist" mdbWavesEffect>Request List</a>
            </li>
            <!-- >li class="nav-item">
                <a class="nav-link waves-light" routerLink="/availablebookslist" mdbWavesEffect>Avaliable for Borrow</a>
            </li-->
            <li class="nav-item" *ngIf="islogin">
                <a class="nav-link waves-light" routerLink="/mainlogin" mdbWavesEffect>Your Main Page</a>
            </li>
            <!--li class="nav-item" *ngIf="islogin">
                <a class="nav-link waves-light" mdbWavesEffect routerLink="/booksmanage">Books Management</a>
            </li-->

        </ul>
        <!-- Links -->
  
        <ul class="navbar-nav ml-auto">
  
            <div *ngIf="islogin; then loginYes else loginNo"></div>
    
            <ng-template #loginYes>
                <li class="nav-item">
                    <a class="nav-link waves-light">1
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li class="nav-item avatar dropdown" dropdown>
                    <a class="nav-link dropdown-toggle waves-light" dropdownToggle mdbWavesEffect mdbWavesEffect>
                        <img src= "{{avatar}}" height="30" class="rounded-circle z-depth-0">
                    </a>
                    <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/userprofile">Profile</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/ranking">Ranking</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/bugreport">Bug Report</a>
                        <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Log Out</a>
                    </div>
                </li>
                <li class="nav-item">
                    <span class="nav-link waves-light" style="font-size: 0.75em;">
                        3rd Book Donor<br/>
                        in U of S
                    </span>
                </li>
            </ng-template>
  
          <ng-template #loginNo>
            <li class="nav-item">
                <a (click)="showLoginModal()" class="nav-link waves-light"  data-toggle="modal" data-target="#modalLoginForm" mdbWavesEffect>Login</a>
            </li>
            <li class="nav-item">
                <a routerLink="/signup" class="nav-link waves-light" mdbWavesEffect>SingUp</a>
            </li>
          </ng-template>
  
         </ul>
  
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->


<app-login *ngIf="!islogin"></app-login>

