<div class="row z-depth-1 rounded m-2">
  <div class="col-3 col-example">
    <img class="d-flex avatar-3 p-2 mx-auto w-100" src="../../../assets/defaultBook.jpg" alt="Generic placeholder image">
    <div class="col-12 m-2 text-center">
      <button mdbBtn type="button" gradient="blue" size="sm" mdbWavesEffect>Small Button</button>
    </div>
  </div>
  <div class="col-9 col-example row h6 bold indigo-text">
      <div class="col-12 pt-3"></div>
      <div class="col-4 ">Book Name</div> <div class="col-8 ">Harry Porter and Some Good Catherine</div>
      <div class="col-4 ">Author</div> <div class="col-8 ">Tom Garson</div> 
      <div class="col-4 ">Post Time</div> <div class="col-8 ">2018-02-15</div> 
      <div class="col-4 ">Expect Return Time</div> <div class="col-8 ">2018-09-12</div> 
      <div class="col-4">Description</div> <div class="col-8 ">some thing yes yse asdfasdf</div> 
      <div class="col-4 ">Owner {{Requester}}</div> <div class="col-4 ">Mary Polot</div>
      <div class="col-4">
        <button color="indigo" outline="true" mdbBtn type="button" size="sm" mdbWavesEffect>Send Message</button>
      </div>
  </div>
</div>