<div class="container ">
  <br/>
    <span class="text-center h2 row">You have post <div class='red-text h1'>&nbsp; 8 &nbsp;</div> books, <div class="red-text h1">&nbsp;3 &nbsp;</div> of them has borrowed by others, Thank you for your generosity!
      <a class="h5" (click)="shareWiheYourFriend()" mdbWavesEffect>
        <br/><u>Share With My Friends</u>
      </a>
      </span>
    <div class="row p-5">
      <div class="col-4">
        <a class="product-info hoverable pink lighten-5" mdbWavesEffect routerLink="/lendbooks" >
          <div class="product-text">
            <h1>Lend Books</h1>
            <h2>by studio and friends</h2>
            <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a class="product-info hoverable indigo lighten-5" mdbWavesEffect routerLink="/findbooks" >
          <div class="product-text">
            <h1>Borrow Books</h1>
            <h2>by studio and friends</h2>
            <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a class="product-info hoverable cyan lighten-5" mdbWavesEffect routerLink="/requestbooks">
          <div class="product-text">
            <h1>Request a Book</h1>
            <h2>by studio and friends</h2>
            <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
          </div>
        </a>
      </div>
    </div>
    <div class="row p-5">
      <div class="col-4">
          <a class="product-info hoverable light-green lighten-5" mdbWavesEffect routerLink="/availablebookslist">
            <div class="product-text">
              <h1>View Available Borrow</h1>
              <h2>by studio and friends</h2>
              <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
            </div>
          </a>
        </div>
        <div class="col-4">
          <a class="product-info hoverable amber lighten-5" mdbWavesEffect routerLink="/requestbooklist">
            <div class="product-text">
              <h1>View Request List</h1>
              <h2>by studio and friends</h2>
              <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
            </div>
          </a>
        </div>

        <div class="col-4">
            <a class="product-info hoverable blue-grey lighten-5" mdbWavesEffect routerLink="/booksmanage">
              <div class="product-text">
                <h1>Manage Books</h1>
                <h2>by studio and friends</h2>
                <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
              </div>
            </a>
          </div>
      </div>
</div>