<!-- Intro Section -->
<div class="view" id="share-book-part">
  <div class="left-container text-center">
            <h2 class="white-text font-up font-bold mb-6 text-shadow" ><strong>LEND BOOKS, SHARE KNOWLEDGE</strong></h2>
            <hr class="hr-light mt-4 " >
            <h5 class="font-up mb-6 white-text fadeInDown description-font text-shadow" >
                Have spare books? Lend them to those who really need them in campus. 
                Gain <strong class="h3 pink-text text-shadow-invert">HAPPY</strong> from helping others. 
                Get priority of borrowing books for <strong class="h3 pink-text text-shadow-invert">FREE</strong>. 
                Let the priceless knowledge pass. 
                <a  color="primary" class="waves-light white-text" type="button" (click)="learnMore1.toggle()" mdbWavesEffect>
                  <u>Learn More</u>
                </a>
            </h5>

            <h5 class="font-up  white-text description-font text-shadow" mdbCollapse #learnMore1="bs-collapse">
                <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
            </h5>
            <a mdbBtn color="pink" class="wow fadeInDown waves-light btn " data-wow-delay="0.4s"
              mdbWavesEffect routerLink="/lendbooks">SHARE A BOOK NOW</a>
    </div>
</div>
<div class="view" id="find-book-part">
    <div class="right-container ">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h2 class="white-text font-up font-bold mb-6 text-shadow" ><strong>BORROW BOOKS FOR FREE</strong></h2>
              <hr class="hr-light mt-4 " >
              <h5 class="font-up mb-6 white-text fadeInDown description-font text-shadow" >
                  Too expensive to buy a book? 
                  To many limitations in Library? 
                  Find books here and borrow them from the most generous people for <strong class="h3 green-text text-shadow-invert">FREE</strong>.
                  <a  color="primary" class="waves-light white-text" type="button" (click)="learnMore2.toggle()" mdbWavesEffect>
                    <u>Learn More</u>
                  </a>
              </h5>
  
              <h5 class="font-up  white-text description-font text-shadow" mdbCollapse #learnMore2="bs-collapse">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
              </h5>
              <a mdbBtn color="green" class="wow fadeInDown waves-light btn" data-wow-delay="0.4s"
                mdbWavesEffect routerLink="/findbooks">FIND A BOOK NOW</a>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="view" id="request-list-part">
    <div class="left-container ">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h2 class="white-text font-up font-bold mb-6 text-shadow" ><strong>REQUEST A BOOK</strong></h2>
              <hr class="hr-light mt-4 " >
              <h5 class="font-up mb-6 white-text fadeInDown description-font text-shadow" >
                  Looking for a book not avaliable in this website currently? 
                  <strong class="h3 cyan-text text-shadow-invert">POST</strong> information here. 
                  Let other people <strong class="h3 cyan-text text-shadow-invert">HELP</strong> you.
                  <a  color="primary" class="waves-light white-text" type="button" (click)="learnMore3.toggle()" mdbWavesEffect>
                    <u>Learn More</u>
                  </a>
              </h5>
              <h5 class="font-up  white-text description-font text-shadow" mdbCollapse #learnMore3="bs-collapse">
                  <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
              </h5>
              <a mdbBtn color="cyan" class="wow fadeInDown waves-light btn" data-wow-delay="0.4s"
                mdbWavesEffect routerLink="/requestbooklist">CHECK REQUEST LIST</a>
            </div>
          </div>
        </div>
      </div>
</div>