
<br/><br/>

<div></div>
<div class="container">
  <h2 class="text-center">Request a Book</h2>
  <form>
  <div class="row justify-content-start">
    <div class="mb-3 offset-2 col-3 h-100"><span class="red-text h4 bold">*</span> Book Name :</div>
    <mat-form-field class="mb-3 col-5 ">
        <input matInput [formControl]='bookNameInput' placeholder="Harry Potter and the Prisoner of Azkaban" required >
    </mat-form-field>
  </div>
  
  <div class="row justify-content-start">
    <div class="mb-3 offset-2 col-3 h-100">Author :</div>
    <mat-form-field class="mb-3 col-5 ">
        <input matInput [formControl]='bookAuthorInput' placeholder="J.K. Rowling">
    </mat-form-field>
  </div>

  <div class="row justify-content-start">
    <div class="mb-3 offset-2 col-3 h-100 align-middle"><span class="red-text h4 bold">*</span> Expected Return Date :</div>
    <mat-form-field class=" mb-3 col-5">
        <input matInput [formControl]="expectedReturnDateInput" [min]="today" [matDatepicker]="ERDpicker" placeholder="Expected Return Date" required>
        <mat-datepicker-toggle matSuffix [for]="ERDpicker"></mat-datepicker-toggle>
        <mat-datepicker #ERDpicker></mat-datepicker>
      </mat-form-field>
  </div>
  <div class="row justify-content-start">
    <div class="mb-3 offset-2 col-3 h-100"><span class="red-text h4 bold">*</span> Post Expiry Date :</div>
    <mat-form-field class=" mb-3 col-5">
      <input matInput [formControl]="postExpireDateInput" [min]="today" [matDatepicker]="PEDpicker" placeholder="Post Expiry Date" required>
      <mat-datepicker-toggle matSuffix [for]="PEDpicker"></mat-datepicker-toggle>
      <mat-datepicker #PEDpicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="row justify-content-start">
      <div class="mb-3 offset-2 col-3 h-100"><span class="red-text h4 bold">*</span> Campus :</div>
      <mat-form-field class="mb-3 col-5">
          <mat-select [formControl]="campusInput" placeholder="Choose a Campus">
            <mat-option *ngFor="let campus of campusArray" [value]="campus.value">
              {{campus.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
  </div>

  <div class="row justify-content-start">
    <div class="mb-3 offset-2 col-3 h-100">Description :</div>
    <mat-form-field class="mb-3 col-5">
      <textarea matInput placeholder="Leave a comment" [formControl]="descriptionInput"  id="description-textarea"  rows= "5" maxlength="350"  ></textarea>
    </mat-form-field>
 
  </div>

  <div class="row justify-content-start">
    <div class="mb-3 offset-2 col-3 h-100">Book Cover: </div>
    <input [formControl]="bookCoverInput" type="file" class="mb-3 col-5">
  </div>

  <div class="row justify-content-md-center">
    <div class="mb-3">
      <button mdbBtn type="submit" color="blue" outline="true" (click)="requestABook()" mdbWavesEffect>Request</button>
    </div>
  </div>
</form>

  </div>